<div class="dashboard-container" *ngIf="statistical">
  <div class="card flex flex-wrap gap-3 p-fluid">
    <div class="date">
      <label for="icondisplay" class="font-bold block mb-2"> Ngày bắt đầu </label>
      <p-calendar [(ngModel)]="date1" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
        class="short-calendar"  />
    </div>
    <div class="date ">
      <label for="icondisplay" class="font-bold block mb-2"> Ngày kết thúc </label>
      <p-calendar [(ngModel)]="date2" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" [maxDate]="maxdate" />
    </div>
    <div class="flex">
      <p-button label="Submit" (onClick)="getDashboarsh()" />
    </div>
    <div class="flex">
      <p-button label="Reset" />
    </div>
  </div>
  <!-- Lưới cho 4 ô hàng trên -->
  <div class="p-flex">
    <div class="infor center-align">
      <p-card header="Đơn hàng">
        <p class="m-0 center-align">
          {{statistical.totalOrder}}
        </p>
      </p-card>
    </div>
    <div class="infor center-align">
      <p-card header="Khách hàng">
        <p class="m-0 center-align">
          {{statistical.totalCustomer}}

        </p>
      </p-card>
    </div>
    <div class="infor center-align">
      <p-card header="Số lượng sản phẩm">
        <p class="m-0 center-align">
          {{statistical.totalProduct}}

        </p>
      </p-card>
    </div>
    <div class="infor center-align">
      <p-card header="Doanh thu dự kiến">
        <p class="m-0 center-align">
          {{statistical.expected_Revenue| currency:'VND':''}}đ
        </p>
      </p-card>
    </div>
  </div>


  <!-- Lưới cho ô dưới -->
  <div class="p-flex">
    <div class="Revenue">
      <p-card header="Doanh thu theo tháng" subheader="{{statistical.totalMonthlyrevenue| currency:'VND':''}}đ">
        <ng-template pTemplate="content">
          <p-chart type="line" [data]="revenueChartData" [options]="options"></p-chart>
        </ng-template>
      </p-card>
    </div>
    <div class="infor-2">
      <p-card header="Tổng doanh thu" subheader="{{statistical.totalRevenueCategory| currency:'VND':''}}đ">
        <ng-template pTemplate="content">
          <p-chart type="pie" [data]="salesChartData"></p-chart>
        </ng-template>
      </p-card>
    </div>
    <div class="infor-2">
      <p-card header="Tỷ lệ đánh giá" subheader="{{statistical.totalRating}}">
        <ng-template pTemplate="content">
          <p-chart type="doughnut" [data]="ratingChartData" class="small-chart"></p-chart>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>