<div class="pagetitle">
  <h1>Thống kê</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
  <form action="" class="formdas">
    <div class="form-group dt1">
      <label for="usr">Ngày bắt đầu:</label>
      <input type="date" class="form-control inp" id="usr">
    </div>
    <div class="form-group dt2">
      <label for="pwd">Ngày kết thúc:</label>
      <input type="date" class="form-control inp " id="pwd">
    </div>
    <button class="btn btn-primary btndas"><i class="bi bi-search"></i></button>
    <button class="btn btn-primary btndas"><i class="bi bi-arrow-counterclockwise"></i></button>
  </form>


  <div class="overview">
    <div class="OV1">
      <div>
        <i class="bi bi-currency-dollar"></i>
      </div>
      <div class="Title">
        <h3>Doanh Thu</h3>
        <h4>123.000.000 đ</h4>
      </div>
     
    </div>
    <div class="OV2">
      <div>
        <i class="bi bi-bar-chart-fill"></i>
      </div>
      <div class="Title">
        <h3>Số lượng</h3>
       <h4>1000</h4>
      </div>
      
    </div>
    <div class="OV2">
      <div>
        <i class="bi bi-bag-check-fill"></i>
      </div>
      <div class="Title">
        <h3>Đơn hàng</h3>
       <h4>1000</h4>

      </div>

    </div>
  </div>

  <div class="chartparent">
    <div class="chart1" (change)="ChartLine()">
       <p-chart class="chartline" type="line" [data]="lineChartData" [options]="lineChartOptions"></p-chart>
    </div>
    <div class="chart2" (change)="chartdoughnut()">
       <p-chart type="doughnut" [data]="doughnutChartData" [options]="doughnutChartOptions"></p-chart>
    </div>
 </div>
 


</section>