<div class="footer">

    <div class="footer_1">
        <h4>Shop thời trang ACHINO</h4>
        <ul>

            <li><i class="pi pi-phone" style="font-size: 1rem"></i> Hotline: 0976358686</li>
            <li><i class="pi pi-home" style="font-size: 1rem"></i> Cửa hàng</li>
            <li><i class="pi pi-send" style="font-size: 1rem"></i> Email: Achinoshop@gmail.com</li>
        </ul>
    </div>
    <div class="footer_1">
        <h4>Về ACHINO</h4>
        <ul>
            <li><i class="pi pi-check" style="font-size: 1rem"></i> Tin tức</li>
            <li><i class="pi pi-check" style="font-size: 1rem"></i> Cửa hàng</li>
            <li><i class="pi pi-check" style="font-size: 1rem"></i> Tuyển dụng</li>
        </ul>
    </div>
    <div class="footer_1">
        <h4>Hỗ trợ khách hàng</h4>
        <ul>
            <li><i class="pi pi-check" style="font-size: 1rem"></i> Chính sách bảo mật</li>
            <li><i class="pi pi-check" style="font-size: 1rem"></i> Chính sách giao hàng</li>
            <li><i class="pi pi-check" style="font-size: 1rem"></i> Chính sách đổi trả, bảo hành</li>

        </ul>
    </div>
    <img src="/./assets/client/assets/img/logoSaleNoti.png" height="80px">

</div>