.flex-container {
    display: flex;
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    justify-content: space-between; /* Phân phối không gian đều giữa các phần tử */
}

.name {
    flex-grow: 0.5; /* Cho phép .name chiếm không gian còn lại giữa img và quantity */
    margin-left: 10px; /* Khoảng cách giữa img và name */
    width: 20px;
}

.quantity {
    margin: 0 10px; /* Khoảng cách giữa các phần tử xung quanh quantity */
}

.price {
    margin-right: 10px; /* Khoảng cách giữa price và delete icon */
    color: rgb(193, 19, 19);
    font-weight: bold;

}

.delete-icon {
    font-size: 1rem;
    cursor: pointer; /* Thêm con trỏ để người dùng biết đây là một phần tử có thể click */
    color: rgb(193, 19, 19);
}


:host ::ng-deep .p-inputnumber-input {
    width: 70px !important;
}

.bt {
    margin-left: 42%;
}
.card{
     margin-top: 2%;
}
.NotCart {
    margin-top: 5%;
    height: 350px;
    display: grid;
}

.textcart {
    margin-left: 41%;
    margin-top: 5%;
}
