<h1 style="margin-left: 2em; font-weight: 50;">Giỏ hàng</h1>
<div style="width: 90%; margin-left: 5%;">
    <table class="table">
        <thead>
            <tr>
                <th style="padding-left: 2em;">Hình ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td class="img"><img style="width: 30%;" src="./assets/client/assets/img/portfolio/a4.png" /></td>
                <td class="name">Combo Bộ Quần Áo Hè Thun Nam Áo Tay Ngắn Cổ Tròn Loang Màu FNGLA Phối Quần Short Đùi Zenkocs3 MEN </td>
                <td class="quantity">1</td>
                <td class="price">234,000đđ</td>
                <td class="xoa"><i class="fa fa-trash"></i></td>
            </tr>
            <tr >
                <td class="img"><img style="width: 30%;" src="./assets/client/assets/img/portfolio/a3.png" /></td>
                <td class="name">Combo Bộ Quần Áo sơ mi Nam  FNGLA Phối Quần Âu Zenkocs3 MEN </td>
                <td class="quantity">1</td>
                <td class="price">234,000đđ</td>
                <td class="xoa"><i class="fa fa-trash"></i></td>
            </tr>
        </tbody>
    </table>
</div>
<div style="margin-left: 60%;">
    <button style="border: none; font-weight: bold; font-size: 1.3em; border-radius: 5px; width: 34%; height: 3em; background-color: #01a14b; color: aliceblue;">Cập nhật</button>
    <button onclick="navigate('/pay')" style="border: none; margin-left: 2em; font-weight: bold; font-size: 1.3em; border-radius: 5px; width: 34%; height: 3em; background-color: #01a14b; color: aliceblue;">Thanh toán</button>
</div>