<div class="card xl:flex xl:justify-content-center" *ngIf="Carts && Carts.length>0">
    <p-orderList [value]="Carts" [listStyle]="{ height: '25rem' }" header="Giỏ hàng">
        <ng-template let-product let-index="index" pTemplate="item">
            <div class="flex ">
                <img [src]="'https://localhost:7058/Images/' + product.data[0].image" [alt]="product.data[0].name"
                    width="100px" />
                <div class="name">
                    <span>{{ product.data[0].name }}</span>
                    <div>
                        <i class="pi pi-tag text-sm"></i>
                        <span>{{ product.data[0].namecategory }}</span>
                    </div>
                    <div>
                        <span>Size : {{ product.size.nameSize }}</span>
                    </div>
                </div>
                <div class="quantity">
                    <p-inputNumber [(ngModel)]="product.quantity"
                        (ngModelChange)="updateQuantity($event, product,index)" [showButtons]="true"
                        buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
                        decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                        incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="1"
                        [max]="999"></p-inputNumber>
                </div>
                <span class="price">{{ totalPrice(index)| currency:'VND' }}</span>
                <span class="pi pi-trash price" style="font-size: 1rem;" (click)="deleteCart(index)"></span>
            </div>
        </ng-template>
    </p-orderList>
    <br>
    <p-button label="Thanh Toán" [rounded]="true" severity="danger" class="bt" (onClick)="OpenPay()"></p-button>
</div>
<br>

<div class="NotCart" *ngIf="Carts&&Carts.length<=0">
    <span class="textcart">Giỏ hàng của bạn đang trống</span>
    <p-button label="Tiếp tục mua hàng" [rounded]="true" severity="danger" class="bt" (onClick)="OpenPay()"></p-button>

</div>