<div class="card">
    <p-toast></p-toast>
    <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex"
        (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
</div>


<div class="cartdetail" *ngIf="files?.length>0">
    <p-table [value]="files" [scrollable]="true" scrollHeight="230px" [tableStyle]="{'min-width':'50rem'}"
        [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th>Mã đơn hàng</th>
                <th>Địa chỉ</th>
                <th>Ngày tạo</th>
                <th>Thanh toán</th>
                <th>Giá</th>
                <th></th>
                <th></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td>{{rowData.id}}</td>
                <td>{{rowData.address}}</td>
                <td>{{rowData.created | date:'dd/MM/yyyy '}}</td>
                <td>{{rowData.payment}}</td>
                <td style="color: rgb(191, 10, 10);">{{rowData.price | currency:'VND'}}</td>
                <td *ngIf="rowData.status != 4 " (click)="detailOrder(rowData)"><i class="pi pi-eye" style="color: slateblue"></i></td>
                <td *ngIf="rowData.status==4" (click)="Rating(rowData)"><i class="pi pi-pencil"
                        style="color: slateblue"></i></td>
                <td *ngIf="rowData.status==3"><p-button label="Đã nhận" severity="warning" (onClick)="Update(rowData,4)" /></td>
            </tr>
        </ng-template>
    </p-table>
</div>


<div class="NotCart" *ngIf="files&&files.length<=0">
    <span class="textcart">Hiện tại chưa có đơn hàng</span>
</div>




    <p-dialog header="Đánh Giá Sản Phẩm" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }">

        <div class="grid align-items-center gap-3 mb-5" *ngFor="let x of data_evaluate?.orderProductList">
            <div class="Product">
                <div class="product_image">
                    <p-image [src]="'https://localhost:8443/Images/' + x.image" alt="Image" width="120" />
                </div>
                <div class="product_infomatiom">
                    <span class="float-Product">
                        {{x.product_name}}</span>
                </div>
            </div>
            <div class="evaluate">
                <label for="float-evaluate">Chất lượng:</label>
                <p-rating [(ngModel)]="x.evaluate" />
            </div>
            <div class="Comment">
                <label for="float-input">Nội dung: </label>
                <textarea id="float-input" rows="3" cols="80" [(ngModel)]="x.comment" pInputTextarea></textarea>
            </div>

        </div>

        <div class="flex justify-content-end gap-2">
            <p-button (click)="SaveRating()" label="Lưu đánh giá" />
        </div>
    </p-dialog>




<p-dialog header="Long Content" [(visible)]="visibledetail" [modal]="true" [maximizable]="true"
    [style]="{width: '70%',height:'90%'}" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="dialog-header">
            <span class="font-bold">Chi tiết đơn hàng</span>
        </div>
    </ng-template>
    <ng-template pTemplate="body">
        <div class="info" *ngIf="dataDetail ">
            <div style="width: 50%;">
                <h4>Tên khách hàng: {{dataDetail.username}}</h4>
                <h4>Địa chỉ: {{dataDetail.address}}</h4>
            </div>
            <div style="width: 50%;">
                <h4>Số điện thoại: {{dataDetail.phone}}</h4>
                <h4>Email: {{dataDetail.email}}</h4>
            </div>
        </div>
        <p-table [value]="dataDetail.orderProductList" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Ảnh</th>
                    <th>Tên</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Tổng</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>
                        <p-image src="https://localhost:8443/Images/{{ product.image }}"
                            previewImageSrc="https://localhost:8443/Images/{{ product.image }}" alt="Image" width="100"
                            [preview]="true"></p-image>
                    </td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td style="color: rgb(191, 10, 10);;">{{ product.price | currency:"VND" :''}}đ</td>
                    <td style="color: rgb(191, 10, 10);;">{{ product.price* product.quantity  | currency:"VND" :''}}đ</td>

                </tr>
            </ng-template>
        </p-table>
        <h4 style="text-align: center;color: rgb(191, 10, 10);"> Tổng đơn hàng: {{dataDetail.price| currency:"VND" :''}}đ</h4>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <div class="dialog-footer">
            <p-button icon="pi pi-check" (click)="visibledetail = false" label="Đóng" severity="danger"></p-button>

        </div>
    </ng-template>
</p-dialog>