<div class="Newproduct">
    <h2>Sản phẩm</h2>

    <div class="card">
        <p-dataView #dv [value]="ListProducts" [layout]="layout" [rows]="10" [paginator]="true"  (onLazyLoad)="loadListLazy($event)" [totalRecords]="Totalcount" >
            <ng-template pTemplate="header">
                <div class="flex justify-content-end">
                    <p-dataViewLayoutOptions layout="list"></p-dataViewLayoutOptions>
                </div>
            </ng-template>
            <ng-template let-product pTemplate="list" let-products>
                <div class="list">
                    <div class="col-12" *ngFor="let product of products; let first = first">
                        <div class="product-item" [ngClass]="{ 'border-top-1 surface-border': !first }">
                            <img class="product-image" [src]="'https://localhost:7058/Images/' + product.image"
                                [alt]="product.name" />
                            <div class="product-details">
                                <div class="product-name" [routerLink]="['/client','detail', product.id]">{{
                                    product.name }}</div>

                                <div class="product-category">
                                    <i class="pi pi-tag"></i>
                                    <span style="margin-left: 2%;">{{product.namecategory }}</span>
                                </div>
                            </div>
                            <div class="product-price">
                                <span>{{ product.price_product | currency:'VND':'' }}đ</span>
                            </div>
                            <button pButton icon="pi pi-shopping-cart" class="product-cart-button"></button>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template let-product pTemplate="grid" let-products>
                <div class="grid ">
                    <div class="col-12" *ngFor="let product of products; let first = first">
                        <div class="grid-item" [ngClass]="{ 'border-top-1 surface-border': !first }">
                            <img class="grid-image" [src]="'https://localhost:7058/Images/' + product.image"
                                [alt]="product.name" [routerLink]="['/client/detail', product.id]" />
                            <div class="grid-details">
                                <div class="grid-name" [routerLink]="['/client/detail', product.id]">{{ product.name}}</div>
                                <div class="grid-category">
                                    <i class="pi pi-tag"></i>
                                    <span style="margin-left: 2%;">{{product.namecategory }}</span>
                                </div>
                            </div>
                            <div class="grid-price" *ngIf="product.activeSale ==0 || product.activeSale==null">
                                <span class="gspan">{{ product.price_product | currency:'VND':''}}đ</span>
                                <button pButton icon="pi pi-shopping-cart" class="product-cart-button"></button>
                            </div>
                            <div class="grid-price" *ngIf="product.activeSale ==1">
                                <div class="salespan1" pBadge [value]="product.percent + '%'" severity="danger">
                                    <Del>{{ product.price_product | currency:'VND':'' }}đ</Del></div>
                                <div class="salespan">{{ product.salePrice | currency:'VND' :""}}đ</div>
                                <button pButton icon="pi pi-shopping-cart" class="product-cart-button"></button>
                            </div>

                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>