 <!-- ======= Portfolio Details Section ======= -->
 <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="./assets/client/assets/img/portfolio/a4.png" alt="">
              </div>

              <div class="swiper-slide">
                <img src="./assets/client/assets/img/portfolio/a4.png" alt="">
              </div>

              <div class="swiper-slide">
                <img src="./assets/client/assets/img/portfolio/a4.png" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Combo Bộ Quần Áo Hè Thun Nam Áo Tay Ngắn Cổ Tròn Loang Màu FNGLA Phối Quần Short Đùi Zenkocs3 MEN TOP 204 + SHORTS 050</h3>
            <ul>
              <li><strong>Loại Sản Phẩm</strong>: Web design</li>
              <li><strong>Màu Sắc</strong>: ASU Company</li>
              <li><strong>Size</strong>: 01 March, 2020</li>
              <li><strong>Giá</strong>: 01 March, 2020</li>
              <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
            </ul>
            <button class="btn btn-warning" type="button"><i class="bi bi-plus-lg"></i>Thêm vào giỏ hàng</button>
          </div>
          <div class="portfolio-description">
            <h2>Mô tả</h2>
            <p>
              Sản phẩm: bộ quần áo nam

Chất liệu: Vải mềm mại, thoáng mát dễ thấm hút mồ hôi

Kiểu dáng đơn giản nhưng không kém phần thời trang, phong cách

Phù hợp mặc nhà, khi đi chơi, du lịch, dạo phố cùng bạn bè…

Size S: cho người từ 50kg trở xuống tùy chiều cao

Size M: cho người từ 55kg trở xuống tùy chiều cao

Size L: cho người từ 60kg trở xuống tùy chiều cao

Size XL: Dành cho người từ 65kg trở xuống tùy chiều cao
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->
