<p-toast></p-toast>
<div class="container" *ngIf="data && data.length > 0">
  <div class="top">
    <div class="card flex justify-content-center">
      <img [src]="'https://localhost:7058/Images/' + data[0].image" alt="Image" class="full-image">
    </div>

    <div class="select">
      <p-toast></p-toast>
      <h3>{{data[0].name}}</h3>
      <div class="product_infomatiom">
        <div class="price">
          <h3 style="color:rgb(193, 19, 19) ;">{{data[0].price_product |currency:'VND'}}</h3>
        </div>
        <div class="color">
          <div style="width: 20%;">
            <h4>Màu sắc</h4>
          </div>
          <div class="s1">
            <div class="namecolor">{{data[0].namecolor}}</div>
          </div>
        </div>
        <div class="Size">
          <div style="width: 20%;">
            <h4>Kích thước</h4>
          </div>
          <div class="s1"*ngIf="data[0].listSize && data[0].listSize.length">
            <div class="namesize" *ngFor="let x of data[0].listSize" 
                 [class.selected]="x === Size"
                 (click)="selectSize(x)">{{x?.nameSize}}
            </div>
          </div>
          
        </div>
        <p-button label="Thêm vào giỏ hàng" severity="danger" (click)="addtocart(data)"><i class="pi pi-shopping-cart"></i></p-button>
        <div class="sevice">
          <div class="freeship"><span><i class="pi pi-truck "></i> Miễn phí vận chuyển</span> </div>
          <div class="trasport"><span><i class="pi pi-clock "></i> Giao hàng nhanh</span> </div>
          <div class="change"><span> <i class="pi pi-arrow-right-arrow-left "></i> Miễn phí đổi trả</span> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <span style="font-weight: bold; font-size: large;">Mô tả:</span>
    <span [innerHTML]="data[0]?.describe"></span>
    <div class="Instruct">
      <div class="img1"> 
        <h4>Hướng dẫn bảo quản</h4>
        <img src="/./assets/client/assets/img/huongdanbaoquan.jpg" alt="Image" class="full-image"/></div>
      <div class="img1">
        <h4>Tại sao nên chọn ACHINO</h4>
         <img src="/./assets/client/assets/img/Nenchon.jpg" alt="Image"class="full-image"/></div>


    </div>



  </div>
</div>