<div class="contain">
  <div class="Login">
    <div class="center-text">
      
      <h2  [routerLink]="['/']"><img src="/./assets/client/assets/img/snapedit_Achino.png" height="20%" width="30%" class="mr-2" /></h2>
      <small>Vui lòng nhập email và mật khẩu của bạn</small>
    </div>
    <form class="enter">
      <span>
        <input pInputText id="email" [(ngModel)]="value" [ngModelOptions]="{standalone: true}"
          placeholder="Email" />
      </span>
      <span>
        <input type="password" pInputText [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
          placeholder="Password" />
      </span>
      <span>
        <p-button label="Login"></p-button>
      </span>
    </form>
    <div class="center-text" style="display: grid;">
      <span (click)="ForgotPassword()" class="forgot-password">Đăng kí</span>
      <span class="forgot-password" [routerLink]="['/FogotPassword']">Quên mật khẩu</span>
    </div>
    
    <div class="icons">
      <span class="pi pi-twitter" (click)="ForgotPassword()"></span>
      <span class="pi pi-whatsapp"></span>
      <span class="pi pi-google" ></span>

    </div>
    
  </div>
</div>