

<div class="card">
  <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <img src="/./assets/client/assets/img/snapedit_Achino.png" height="45px" width="100%" class="mr-2"
        [routerLink]="['']" />
       
      </ng-template>
      <ng-template pTemplate="end">
          <div class="flex align-items-center gap-2">
            <form class="form_search" (ngSubmit)="search()">
              <input type="text" pInputText placeholder="Tìm kiếm..." class="w-8rem sm:w-auto" [(ngModel)]="newKeyword" [ngModelOptions]="{ standalone: true }"/>
            </form>  
             

              <i class="pi pi-cart-plus" [routerLink]="['/client','cart']">
                <span class="custom-input"> Giỏ hàng</span>
                <span *ngIf="Carts.length > 0" pBadge [value]="Carts.length" severity="danger"></span>
              </i>
              <i class="pi pi-user " [routerLink]="['/Login']" routerLinkActive="router-link-active"
                *ngIf="showName()==' Đăng nhập'"> <span class="custom-input w-8rem sm:w-auto"> {{showName()}}</span></i>
              <i class="pi pi-user" (click)="menu.toggle($event)" icon="pi pi-bars" label="Show"
                *ngIf="showName()!=' Đăng nhập'"><span class="custom-input w-8rem sm:w-auto"> {{showName()}}</span></i>
              <p-toast></p-toast>
              <p-menu #menu [model]="itemAccount" [popup]="true" appendTo="body"></p-menu>
          </div>
      </ng-template>
  </p-menubar>
</div>



<p-dialog header="Long Content" [(visible)]="visible" [modal]="true" [maximizable]="true"
    [style]="{width: '40%',height:'60%'}" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="dialog-header">
            <span class="font-bold">Thông tin</span>
        </div>
    </ng-template>
    <ng-template pTemplate="body">
        <form [formGroup]="formACC" class="full-width-form">
            <div class="card ">
                <div class="input-container">
                    <label for="name">Tên</label>
                    <div class="dropdown-wrapper">
                        <input type="text" class="p-inputtext" pInputText formControlName="userName" />
                    </div>
                </div>
                <div class="input-container">
                  <label for="name">Điện thoại</label>
                  <div class="dropdown-wrapper">
                      <input type="text" class="p-inputtext" pInputText formControlName="phoneNumber" />
                  </div>
              </div>
            <div class="input-container">
              <label for="name">Địa chỉ</label>
              <div class="dropdown-wrapper">
                  <input type="text" class="p-inputtext" pInputText formControlName="address" />
              </div>
          </div>
                
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="dialog-footer">
            <p-button icon="pi pi-check" *ngIf="formACC.valid " (onClick)="updateUser()" label="Cập nhật" pAutoFocus [autofocus]="true"></p-button>
            <p-button icon="pi pi-check" (click)="close()" label="Đóng"severity="danger" ></p-button>

        </div>
    </ng-template>
</p-dialog>