

/* :host ::ng-deep được sử dụng để tăng cường ưu tiên */
/* !important bị ghi đè bởi các quy tắc khác. */
:host ::ng-deep .p-menubar {
  background-color: #f0f0f0!important;
  margin-right: 1% !important;

}
/* :host ::ng-deep .p-menuitem-text{
  color: #fa7500 !important;
}
:host ::ng-deep .p-submenu-icon {
  color: #ffffff !important;

} */
  .fixed-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    color: #d71919;
    margin-bottom: 4.5%;
  }

  i{
    margin-right: 70px;
  }
  