<div class="pagetitle">
  <h1>Quản Lý Danh Mục</h1>
</div><!-- End Page Title -->
<section class="section dashboard">
  <!-- Trong file .component.html của bạn -->
  <form (ngSubmit)="onSubmitSearch()" class="form-inline mt-4">
    <div class="d-flex flex-row">
      <div class="form-group col-auto mr-2">
        <label for="keyWord" class="sr-only">Search</label>
        <input type="search" class="form-control" id="keyWord" [(ngModel)]="keyword"
          [ngModelOptions]="{ standalone: true }" placeholder="Nhập từ khoá " />
      </div>
      <button type="submit" class="btn btn-primary bt">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>
  <br>
  <button type="button" class="btn btn-primary" style="margin-bottom: 30px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <i class="bi bi-plus-lg"></i> Thêm mới
  </button>

  <!-- <p-table #dt ngClass="cust-tbl" [value]="datas" [lazy]="true" (onLazyLoad)="loadListLazy($event)" [scrollable]="true"
    scrollHeight="calc(100vh - 396px)" [(selection)]="Categories" dataKey="id"
    styleClass="p-datatable-gridlines p-datatable-striped" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
    
    [loading]="loading" [paginator]="true" [totalRecords]="dataTotalRecords" [resizableColumns]="true"
    currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} bản ghi" [filterDelay]="0">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" style="width:20% ">STT</th>
        <th class="text-center" style="width:50%">Tên</th>
        <th class="text-center" style="width:30%">Chức Năng</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category let-rowIndex="rowIndex">
      <tr>
        <td class="text-center">
          <span class="p-column-title">STT</span>
          {{ rowIndex + 1}}
        </td>
        <td class="text-center">{{ category.name }}</td>
        <td>
          <i class="bi bi-pencil-square" style="color: rgb(85, 0, 255); margin-left: 100px;"data-bs-toggle="modal" data-bs-target="#edit"></i>
          <i class="bi bi-trash3" style="color: rgb(255, 0, 13); margin-left: 30px;"data-bs-toggle="modal" data-bs-target="#delete"></i>
        </td>

      </tr>
    </ng-template>
  </p-table> -->
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col" class="text-center" style="width:20%">STT</th>
        <th scope="col" class="text-center" style="width:50%">Tên</th>
        <th scope="col" class="text-center" style="width:30%">Chức Năng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category; let rowIndex = index">
        <th class="text-center">{{ rowIndex + 1 }}</th>
        <td class="text-center">{{ category.name }}</td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit">
            <i class="bi bi-pencil-square"></i> Sửa
          </button>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
            <i class="bi bi-trash3"></i> Xóa
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
</section>





<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Thêm danh mục</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
            <div class="row"[formGroup]="FormCategories">
              <div class="col-12 form-group">
                <label for="name" class="col-form-label">Tên danh mục: <span style="color: red;">*</span></label>
                <input type="text" formControlName="name" pInputText class="form-control" id="name">
              </div>
            </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x"></i> Đóng</button>
        <button type="button" class="btn btn-primary"data-bs-dismiss="modal" (click)="SaveAdd()"><i class="bi bi-floppy"></i> Lưu</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Sửa danh mục</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 form-group">
            <label for="MaDonVi" class="col-form-label">Tên danh mục: <span style="color: red;">*</span></label>
            <input type="text" formControlName="name" pInputText class="form-control" id="name">
            <small style="color: #e24c4c;" class="ml-2" *ngIf="!FormCategories.controls['name'].valid && 
            FormCategories.controls['name'].dirty ">
              Vui lòng nhập tên danh mục
            </small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x"></i> Đóng</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="bi bi-floppy"></i> Lưu</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Xóa danh mục</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x"></i> Đóng</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-trash3-fill"></i> Xóa</button>
      </div>
    </div>
  </div>
</div>