<div style="width: 100%; display: grid; grid-template-columns: 55% 40%; margin-top: 20px">
  <div class="pay-left">
    <h2 style="color: #333333; font-weight: normal">Thông tin giao hàng</h2>
    <form action="submit" style="width: 100%; margin-top: 2em; padding-bottom: 15px;">
      <input name="tenKhachHang" placeholder="Họ và tên"
        style="width: 90%; height: 2em; border: 1px solid gray; border-radius: 5px; font-size: 1.5em; padding-left: 1em;" />

      <input name="email" placeholder="Email"
        style="width: 55%; margin-top: 1em; height: 2em; border: 1px solid gray; border-radius: 5px; font-size: 1.5em; padding-left: 1em;" />

      <input name="sdt" placeholder="Số điện thoại"
        style="width: 30%; margin-left: 1.5em; margin-top: 1em; height: 2em; border: 1px solid gray; border-radius: 5px; font-size: 1.5em; padding-left: 1em;" />

      <article style="margin-top: 2em; width: 90%; border: 1px solid gray;">
        <p style="font-size: 1.2em; margin-left: 20%; margin-top: 1em;">Giao tận nơi</p>
        <div style="padding-top: 1em; padding-left: 1em; background-color: #fafafa;">
          <input name="diaChi" placeholder="Địa chỉ"
            style="width: 90%; height: 2em; border: 1px solid gray; border-radius: 5px; font-size: 1.5em; padding-left: 1em;" />
          <input placeholder="Ghi chú..."
            style="width: 90%; height: 12em; margin-top: 1em; border: 1px solid gray; border-radius: 5px; font-size: 1em; padding-left: 1em;" />
        </div>
      </article>
      <button type="submit"
        style="border: none; margin-left: 80%; margin-top: 2em; font-weight: bold; font-size: 1.3em; border-radius: 5px; width: 24%; height: 3em; background-color: #01a14b; color: aliceblue;">Hoàn
        tất đơn hàng</button>  
    </form>
  </div>
  <div class="pay-right">
    <p-orderList [value]="Carts" [listStyle]="{ height: '25rem' }" header="Sản Phẩm">
      <ng-template let-product let-index="index" pTemplate="item">
        <div class="flex ">
          <img [src]="'https://localhost:7058/Images/' + product.data[0].image" [alt]="product.data[0].name"
            width="100px" />
          <div class="name">
            <span>{{ product.data[0].name }}</span>
            <div>
              <i class="pi pi-tag text-sm"></i>
              <span>{{ product.data[0].namecategory }}</span>
            </div>
            <div>
              <span>Size : {{ product.size.nameSize }}</span>
            </div>
          </div>
          <div class="quantity">
            <span>{{ product.quantity}}</span>
          </div>
          <span class="price">{{ totalPrice(index)| currency:'VND' }}</span>
        </div>
      </ng-template>
    </p-orderList>
    <p style="font-size: 1.5em; margin-top: 1em; margin-left: 50%; color:rgb(193, 19, 19);font-weight: bold;">Tổng:
      {{getTotalPrice()| currency:'VND'}}</p>
  </div>
</div>