<div style="width: 100%; display: grid; grid-template-columns: 55% 40%; margin-top: 20px">
  <div class="pay-left">
    <h2 style="color: #333333; font-weight: normal">Thông tin giao hàng</h2>
    <form action="submit" [formGroup]="FormPay">
      <div class="input-container">
        <label for="name">Tên</label>
        <div class="dropdown-wrapper">
            <input formControlName="name" type="text" class="p-inputtext" pInputText  />
        </div>
    </div>
    <div class="input-container">
      <label for="name">Email</label>
      <div class="dropdown-wrapper">
          <input formControlName="email" type="text" class="p-inputtext" pInputText  />
      </div>
  </div>
  <div class="input-container">
    <label for="name">Số Điện Thoại</label>
    <div class="dropdown-wrapper">
        <input formControlName="phone" type="text" class="p-inputtext" pInputText  />
    </div>
</div>
<div class="input-container">
  <label for="name">Địa Chỉ</label>
  <div class="dropdown-wrapper">
      <input  formControlName="Address" type="text" class="p-inputtext" pInputText  />
  </div>
</div>
<div class="input-container">
  <label for="name">Phương Thức Thanh Toán</label>
  <div class="dropdown-wrapper">
    <p-dropdown formControlName="selectPay" [options]="Pay"  optionLabel="name" [showClear]="true" placeholder="Vui Lòng Chọn Phương Thức Thanh Toán" [style]="{'minWidth':'100%'}"  ></p-dropdown>
  </div>
</div>
<p-button label="Thanh Toán" [rounded]="true" severity="danger" class="bt"[style]="{'margin-top':'3%'}" (onClick)="SaveAdd()" *ngIf="this.FormPay.valid"></p-button>

    </form>
  </div>
  <div class="pay-right">
    <p-orderList [value]="Carts" [listStyle]="{ height: '25rem' }" header="Sản Phẩm">
      <ng-template let-product let-index="index" pTemplate="item">
        <div class="flex ">
          <img [src]="'https://localhost:7058/Images/' + product.data[0].image" [alt]="product.data[0].name"
            width="100px" />
          <div class="name">
            <span>{{ product.data[0].name }}</span>
            <div>
              <i class="pi pi-tag text-sm"></i>
              <span>{{ product.data[0].namecategory }}</span>
            </div>
            <div>
              <span>Size : {{ product.size.nameSize }}</span>
            </div>
          </div>
          <div class="quantity">
            <span>{{ product.quantity}}</span>
          </div>
          <span class="price">{{ product.data[0].price_product| currency:'VND' }}</span>
        </div>
      </ng-template>
    </p-orderList>
    <p style="font-size: 1.5em; margin-top: 1em; margin-left: 40%; color:rgb(193, 19, 19);font-weight: bold;">Tổng:
      {{getTotalPrice()| currency:'VND'}}</p>
  </div>
</div>