<div class="contain">
    <div class="Login">
      <div class="center-text">
        <p-toast></p-toast>
        
        <h2  [routerLink]="['/']"><img src="/./assets/client/assets/img/snapedit_Achino.png" height="20%" width="30%" class="mr-2" /></h2>
        <small>Vui lòng nhập email của bạn</small>
      </div>
      <form class="enter" (ngSubmit)="FogotPass()">
        <span>
          <input pInputText id="email" type="email" [(ngModel)]="Fogot.email" [ngModelOptions]="{standalone: true}"
            placeholder="Email" />
        </span>
        <span>
          <p-button label="Xác nhận" [loading]="loading" type="submit"></p-button>
        </span>
      </form>
      
      
      <div class="icons">
        <span class="pi pi-twitter" ></span>
        <span class="pi pi-whatsapp"></span>
        <span class="pi pi-google" ></span>
  
      </div>
      
    </div>
  </div>